#### List

-A list is an ordered, mutable collection of items.

-Can store different data types (integers, strings, floats, even other lists).

-[a,b,c,d]

In [15]:
type([1,2,4,5])

list

In [2]:
# Creating a list
transactions = [1000,200,432,567,2342,3321,23432]

In [4]:
# 3rd transaction (when 3rd is required, index = 3-1 = 2)
transactions[2]

432

In [6]:
# 4 to 7 th transaction
transactions[3:7]

[567, 2342, 3321, 23432]

##### Updating  a list

In [11]:
transactions[0] = 2000       # update first value
transactions.append(3000)    # add element at end
transactions.insert(2, 450)  # insert at index 2
# transactions.remove(3321)    # remove specific value # work only once, cz next time, element wont be there.
last_txn = transactions.pop() # remove last element

##### Some useful list functions

In [13]:
print(len(transactions))    # number of elements
print(sum(transactions))    # total balance (credits - debits)
print(max(transactions))    # largest transaction
print(min(transactions))    # smallest transaction

14
40223
23432
200

Mutable vs Immutable

Mutable → You can change the object after it’s created.

Immutable → You cannot change the object after it’s created.

#### Tuples

Ordered (elements have a defined order).

Immutable (cannot be changed after creation).

Faster than lists.

Useful for fixed data that should not change.

(a,b,c,d)

In [16]:
type((1,2,3))

tuple

##### Nested Tuples

In [18]:
bank = (("ICICI", "Mumbai"), ("HDFC", "Pune"))

In [21]:
bank[1]

('HDFC', 'Pune')

In [22]:
#branch location of ICICI
print(bank[0][1])

Mumbai

In [24]:
#bank in Pune
print(bank[1][0])

HDFC

#### Sets

Unordered collection of unique elements.

Mutable (can add/remove elements).

Removes duplicates automatically.

Very useful in fintech when you need to handle unique customer IDs, account numbers, stock tickers etc.

{a,b,c,d}

In [27]:
type({"Raju","Sham"})

set

In [31]:
type({"Raju","Sham",True,8.9,99,12,False})

set

In [39]:
random = {"Raju","Sham",True,8.9,99,12,False,False,True,"Aman","Sham"}
random # Duplicates removed automatically as shown below

{12, 8.9, 99, 'Aman', False, 'Raju', 'Sham', True}

In [40]:
random.add("Ganesh")      # add new element
random.remove("Sham")   # remove element
random.discard(True) # safe remove (no error if not present)

In [42]:
random

{12, 8.9, 99, 'Aman', False, 'Ganesh', 'Raju'}

##### Set Operations

In [43]:
bank_A = {"Ramesh", "Suresh", "Mahesh"}
bank_B = {"Suresh", "Ganesh", "Rakesh"}

In [45]:
print(bank_A | bank_B)   # Union

{'Mahesh', 'Rakesh', 'Ganesh', 'Ramesh', 'Suresh'}

In [47]:
print(bank_A & bank_B)   # Intersection

{'Suresh'}

In [49]:
print(bank_A - bank_B)   # Difference

{'Mahesh', 'Ramesh'}

Ensure uniqueness (no duplicate customers).

Quickly find common customers between banks.

Detect fraud by checking repeated transaction IDs.

#### Dictionary

A key–value pair data structure.

Keys must be unique & immutable (strings, numbers, tuples).

Values can be anything (lists, dicts, numbers, strings).

Very useful in fintech to map customer → portfolio, account → balance, txn_id → details.

In [53]:
example = {"a":1,"b":2,"c":3,"k":11,"x":24,"y":25,"z":26}
example

{'a': 1, 'b': 2, 'c': 3, 'k': 11, 'x': 24, 'y': 25, 'z': 26}

In [63]:
example["a"]

1

In [65]:
example["z"]

26

In [67]:
example[26]

KeyError: 26

dict[key] → access by key, not value.

To find a value → use dict.values() or loop through items.

#### In a glance: Python Data Structures – Common Operations

**List Operations**

Create a list

Indexing and slicing

Add item (append(), insert(), extend())

Remove item (remove(), pop(), clear())

Update/replace element by index

Find length (len())

Find sum, min, max (sum(), min(), max())

Sorting (sort(), sorted())

Count occurrences (count())

Find index of element (index())

Iterate with for loop

List comprehension ([expression for ...])

**Tuple Operations**

Create a tuple

Indexing and slicing

Tuple unpacking

Find length (len())

Count occurrences (count())

Find index of element (index())

Membership test (in, not in)

Nesting tuples

Iteration with for loop

**Set Operations**

Create a set

Add element (add(), update())

Remove element (remove(), discard(), pop())

Clear set (clear())

Union (|, union())

Intersection (&, intersection())

Difference (-, difference())

Symmetric difference (^, symmetric_difference())

Membership test (in, not in)

Set comprehension ({expression for ...})

**Dictionary Operations**

Create a dictionary

Access values (dict[key], get())

Add a key-value pair

Update an existing value

Remove a key (pop(), del)

Clear all items (clear())

Get all keys (keys())

Get all values (values())

Get all items (items())

Iterate over keys, values, items

Check membership (in, not in)

Copy a dictionary (copy())

Nested dictionaries (dict inside dict)

Update with another dictionary (update())

Dictionary comprehension ({key: value for ...})

Safe access with default (get(key, default))